/* FIX INICIALES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* FIN FIX INICIALES */

/* INICIO HEADER */
header {
    padding: 3px 1px 3px 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: sticky;
}

.header_logo a {
    color: white;
    transition: all 0.1s ease-in-out;
    font-size: 20px;
}

.header_logo a h1 {
    padding-left: 20px;
}

.header_logo a:hover{
    color: #303332;
}

.header_menu ul {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.header_logo a {
    text-decoration: none;
}

.header_menu ul li {
    border-radius: 5px;
    padding: 5px;
    list-style: none;
}

.header_menu ul li a{
    text-decoration: none;
    color: white;
    transition: all 0.1s ease-in-out;
}

.header_menu ul li a:hover {
    color: #303332;
}
/* FIND HEADER */

/* INICIO IMG BANNER */
.index_container .index_bannerText {
    width: 100%;
    height: 91vh;
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(10%) brightness(60%);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.index_bannerText h2 {
    font-size: 2rem;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    text-align: center;
    padding: 4rem;
    transition: all 0.2s ease-in-out;
}

.index_bannerText h2:hover {
    color: #303332;
}
/* FIN IMG BANNER */

/* INICIO MAIN */

.index_mainContent {
    /* background-color: #0C0D0C; */
    display: flex; 
    justify-content: space-evenly; 
    margin: 50px;
}

.index_mainContent li{
    list-style: none;
}

.index_mainContent li a {
    text-decoration: none;
    color: white;
}

.index_mainContent .index_fundacion {
    background-image: url(../img/rescate_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index_mainContent .index_comunidad {
    background-image: url(../img/colab_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.index_mainContent .index_contacto {
    background-image: url(../img/conversa_index.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* FIN MAIN */