/*  INICIAL FIX */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* body {
    background-color: black;
} */

/*  FIN FIX */

/*  HEADER  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: black;
    padding: 0.5rem 2rem;
    z-index: 999;
    
}

header .header_logo h1{
    transition: all 0.1s ease-in-out;
}

header .header_logo h1:hover{
    color: gray;
}

header .header_burguerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: white;
    
}

input#menu {
    display: none;
}

header button.header_burguerMenu:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

input#menu:checked ~ .header_menu {
    display: block;
  } 

header .header_menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.97);
}

header .header_menu .header_closeMenu {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: white;
}

header .header_menu ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

header .header_menu ul li {
    text-transform: uppercase;
    font-weight: 300;
    border-radius: 5px;
    padding: 0.5rem;
}

header .header_menu ul li a {
    transition: all 0.1s ease-in-out;
}

header .header_menu ul li a:hover {
    color: gray;
}

header #header_menu_aboutMV ul {
    flex-direction: column;
    border-radius: 5px;
}

header #header_menu_aboutMV ul li a {
    color: white;
    text-transform: capitalize;
    font-weight: 400;
}

header #header_menu_aboutMV ul li a:hover {
    color: gray;
}
/* FIN HEADER */

/* INICIO MAIN BANNER */
.index_container .index_bannerImg {
    background-image: url("../img/img1.jpg");
    width: 100%;
    height: 91vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index_container .index_bannerImg h2 {
    font-size: 40px;
    text-align: center;
    width: 100%;
}
/* FIN MAIN BANNER */

/* INICIO INDEX CONTAINER CONTENT */
.index_container {
    background-color: black;
    
}

.index_container .index_container_content {
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    background-color: #0C0D0C;
    padding: 6rem;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    
}

.index_container section.index_container_content 
.index_section_about {
    display: flex;
    justify-content: center;
    align-items: center;
    height:  100%;
    width: 100%;
    position: relative;
}

.index_container section.index_container_content 
.index_section_about a{
    color: black;
    font-size: 20px;
}

.index_container section.index_container_content 
.index_section_about#sectionAbout_img1 {
    background-image: url("../img/conversa_index.PNG");
    background-size: cover;
    background-position: center;
}

.index_container section.index_container_content 
.index_section_about#sectionAbout_img2 {
    background-image: url("../img/rescate_index.jpg");
    background-size: cover;
    background-position: center;
}

.index_container section.index_container_content 
.index_section_about#sectionAbout_img3 {
    background-image: url("../img/colab_index.jpg");
    background-size: cover;
    background-position: center;
}

/* FIN INDEX CONTAINER CONTENT */

/* INICIO FOOTER */
footer .footer_Info{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

/* footer .maps_location {
    display:flex;
    flex-direction: column;
} */

footer .footer_socialInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    /* justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;  */
}

footer .footer_socialInfo a {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    font-size: 40px;
    width: 3rem;
    height: 4rem;
    padding-left: 15px;
    padding-top: 20px; 
    transition: all 0.1s ease-in-out;
}

footer .footer_socialInfo a:hover {
    color: gray;
}

footer .footer_socialInfo i {
    padding-right: 4px;
    padding-top: 4px;
    
}

footer .maps_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(#000000,#0C0D0C);
    /* padding-top: 10px; */
}

footer .maps_location iframe {
    margin: 20px; 
}

footer .footer_Info h3 {
    padding-top: 10px;
}
/* FIN FOOTER */

